@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #F2F2F2;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smooting: antialiased !important;
}

header {
  height: 64px;
  background: #4A90E2;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 30px;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header .content div{
  display: flex;
  align-items: center;
}

header .content div span{
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}

header .content div i{
  font-size: 24px;
  color: #fff;
  background: #4A90E2;
  border-radius: 50%;
  margin-left: 10px;
}


.post {
  max-width: 725px;
  margin: 10px auto 0;
}

div.post ul {
  list-style: none;
}

div.posts ul li aside.post {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  padding: 10px;
  margin-bottom: 15px;
}

div.posts ul li aside.post img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

div.posts ul li aside.post div.user-post {
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

div.posts ul li aside.post div.user-post p {
  font-size: 14px;
  color: #3E3E3E;
}

div.posts ul li aside.post div.user{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

div.posts ul li aside.post div.user div{
  display: flex;
  flex-direction: column;
}

div.posts ul li aside.post div.user div {
  margin-left: 10px;
}

div.posts ul li aside.post div.user div strong{
  font-size: 14px;
  color: #4A4A4A;
  font-weight: normal;
}

div.posts ul li aside.post div.user div span{
  font-size: 11px;
  color: #9A9A9A;
  font-weight: normal;
}

div.posts ul li aside.post div.reply ul li{
  display: flex;
  margin-bottom: 15px;
}

div.posts ul li aside.post div.reply ul li div.reply-text {
  font-size: 14px;
  color: #3E3E3E;
  background: #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-radius: 15px;
  padding: 15px;
  margin-left: 10px;

}

div.posts ul li aside.post div.reply ul li div.reply-text p {
  font-size: 14px;
  color: #3E3E3E;
}

div.posts ul li aside.post div.reply ul li div.reply-text p strong{
  color: #000;
}
